{% extends 'base.html.twig' %}

{% block body %}
    <h1>Overwatches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Subjectid</th>
                <th>Reportnb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for overwatch in overwatches %}
            <tr>
                <td><a href="{{ path('overwatch_show', { 'id': overwatch.id }) }}">{{ overwatch.id }}</a></td>
                <td>{{ overwatch.type }}</td>
                <td>{{ overwatch.subjectId }}</td>
                <td>{{ overwatch.reportNb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('overwatch_show', { 'id': overwatch.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('overwatch_edit', { 'id': overwatch.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('overwatch_new') }}">Create a new overwatch</a>
        </li>
    </ul>
{% endblock %}
